<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.pinckneyhugo"
    versionCode = "10" 
    version     = "1.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Huge</name>

    <description>
        A huge app for Fuccillo
    </description>

    <author href="http://pinckneyhugo.com" email="joe@pinckneyhugo.com">
        PinckneyHugo
    </author>

    <icon src="icon.png" />
    
    <preference name="permissions" value="none"/>

    <preference name="orientation" value="portrait" />

</widget>