body {position: relative; text-align: center; overflow: hidden; background: #ce0f42; background: linear-gradient(to bottom, #ce0f42, #7f0929); margin:0; padding:0;}

h1, h2, h3, h4, h5, h6, p, span, a {font-family: 'Open Sans', sans-serif;}

.billywrapper {display: inline-block; position: relative; text-align: center; width: 100%; max-width: 728px;}
#huge {position: relative; display: block; width: 300px; height: 270px; text-align: center; margin: 0 auto;}
.billywrapper p {color: #fff; font-size: 36px; line-height: 52px; text-transform: uppercase;}
.billywrapper p strong {font-size: 72px;}
.hugecredit {position: relative; top: 100px; margin: 0 auto; width: 100%; max-width: 728px;}
.hugecredit img {width: 100%;}
.hugecredit .tabletcredit {display: block;}
.hugecredit .mobilecredit {display: none;}


@media only screen and (max-width: 640px) {
    .billywrapper p {font-size: 21px; line-height: 36px;}
    .billywrapper p strong {font-size: 48px;}
    .hugecredit .tabletcredit {display: none;}
    .hugecredit .mobilecredit {display: block;}
}